@import url('suzlon_grid/ComboBox.suzlon.css');
@import url('suzlon_grid/Filter.suzlon.css');
/*@import "../../Content/css/suzlon_grid/Button.suzlon.css";
@import "../../Content/css/suzlon_grid/Calendar.suzlon.css";
@import "../../Content/css/suzlon_grid/ComboBox.suzlon.css";
@import "../../Content/css/suzlon_grid/DataForm.suzlon.css";
@import "../../Content/css/suzlon_grid/DataPager.suzlon.css";
@import "../../Content/css/suzlon_grid/DropDownList.suzlon.css";
@import "../../Content/css/suzlon_grid/Filter.suzlon.css";
@import "../../Content/css/suzlon_grid/Grid.suzlon.css";
@import "../../Content/css/suzlon_grid/Input.suzlon.css";
@import "../../Content/css/suzlon_grid/ListBox.suzlon.css";*/

 .window123{

    width:98% !important;    

}

.RadWindow_Default{
    min-width:500px !important;
}

.RadWindow_Default .rwPromptDialog button.rwOkBtn, .RadWindow_Default .rwConfirmDialog button.rwOkBtn {
    border-color: #9BC2E6  ;
    color: #333;
    background-color: #9BC2E6  !important;
    background-image: linear-gradient(rgb(13, 62, 137),rgb(6, 49, 116)) !important;
}

.RadWindow_Default .rwPromptDialog button.rwOkBtn:hover, .RadWindow_Default .rwConfirmDialog button.rwOkBtn:hover {
    border-color: #9BC2E6 ;
    color: #333;
    background-color: #9BC2E6 !important;
    background-image: linear-gradient(rgb(13, 62, 137),rgb(6, 49, 116)) !important;
}

.RadWindow_Default .rwDialogButtons button {
    border-color: #9BC2E6 !important;
    color: #333 !important;
    background-color: #9BC2E6 !important;
    background-image: linear-gradient(#9BC2E6  ,#9BC2E6  ) !important;
    border-color: #cdcdcd !important;
    width: 50px !important;
}

.RadWindow_Default .rwDialogButtons button:hover{
border-color: #9BC2E6 !important;
    color: #333 !important;
    background-color: #9BC2E6 !important;
    background-image: linear-gradient(#9BC2E6 ,#9BC2E6 ) !important;
    border-color: #cdcdcd !important;
    width: 50px !important;
}
.RadComboBoxDropDown_Office2010Silver .rcbHovered {
    color: #333 !important;
    background-color: #9BC2E6  !important;
}

.RadComboBox_Office2010Silver .rcbHovered .rcbActionButton {
    border-color: #edeef0 !important;
    color: #000;
    background-color: #edeef0 !important;
    background-image:none !important;
}
.RadComboBox_Office2010Silver .rcbActionButton {
    border-color: #edeef0 !important;
}

.RadWindow_Default .rwContent {
    background-color: #fff;
    border-color: #bbb;    
}

.RadWindow .rwTitleWrapper .rwTitle{
    line-height: 24px !important;
    font-weight: bold !important;
}
.RadWindow, .RadWindow *, .RadWindow .rwTitleBar *{
    line-height: 24px !important;
    font-weight: bold !important;
}
.RadGrid_Default .rgHeader {
    background-color: #9BC2E6 !important;
    color:#333 !important;
    background-image: none !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.RadGrid_Default .rgHeader a {
    color: #333 !important;
}

.RadTabStrip_Silk .rtsLevel1 .rtsSelected .rtsLink::before {
    border-color: #0D3E89  !important;
}


.RadTabStrip_Silk .rtsLevel1 .rtsSelected .rtsLink {
    color: #333 !important;
    background-image: linear-gradient(#fff,#fff) !important;
    font-weight: bold !important;
}

.RadGrid_Default .rgFilterRow {
    background: #FFF !important;
}

.RadButton.rbButton {
padding: 2px 10px !important;
}

.RadUpload .ruInputs li {
    margin: 0 0 0px !important;
}

.RadInput a {
    min-width: 32px !important;
    font: 16px/1 "arial" !important;
    vertical-align: middle !important;
}


.RadInput a::before {
    font: 16px/1 "TelerikWebUI" !important;
    vertical-align: middle !important;
}

.RadInput a::after {
    content: "";
    display: inline-block !important;
    height: 100% !important;
    width: 0 !important;
    vertical-align: middle !important;
}
.RadGrid .rgRow{
    background-color: #FFF !important;
    color: #333;
}
.RadGrid .rgRow, .RadGrid .rgAltRow, .RadGrid .rgEditRow, .RadGrid .rgFooter, .RadGrid .rgGroupHeader {
    height: 20px;
    background-color: #FFF;
    
}

.RadButton_Default.rbButton, .RadButton_Default .rbSplitPart {
    border-color: rgba(0, 152, 140, 0) !important;
}

.RadButton_Default.rbButton:focus {
    box-shadow: inset 0 0 0px rgba(103,103,103,0.5) !important;
}

.RadButton_Default.rbButton.rbHovered .rbSplitPart {
    border-color: rgba(0, 152, 140, 0) !important;
}

.RadGrid_Default .rgAltRow {
    background: #9BC2E6 !important;
}

.RadGrid_Default .rgPagerCell {
    background: #fff !important;
}

    .RadGrid_Default .rgPagerCell .rgPagerButton:hover, .RadGrid_Default .rgPagerCell .rgActionButton:hover {
        color: #333 !important;
        background-color: #9BC2E6 !important;
        background-image: none !important;
    }

    .RadGrid_Default .rgPagerCell .rgPagerButton:hover, .RadGrid_Default .rgPagerCell .rgActionButton {
        color: #FFF;
        background-color: #FFF !important;
        background-image: none !important;
    }

    .RadGrid_Default .rgPagerCell .rgPagerButton, .RadGrid_Default .rgPagerCell .rgActionButton {
        border-color: #d9d9d9 !important;
    }

    .RadGrid_Default .rgPagerCell .rgNumPart a.rgCurrentPage {
    border: 1px solid #ededed !important;
}


    .RadGrid_Default .rgPagerCell .rgNumPart a.rgCurrentPage {
        color: #333 !important;
        background: #9BC2E6  !important;
    }

    .RadGrid_Default .rgPagerCell .rgNumPart a:hover {
        color: #333 !important;
        background: #9BC2E6  !important;
    }

.RadGrid_Default .rgSelectedRow .rgSorted,
.RadGrid_Default .rgHoveredRow .rgSorted,
.RadGrid_Default .rgEditRow .rgSorted .RadGrid {
    background-color: transparent !important;
    border-color: #000 !important;
    box-shadow: none !important;
}

.RadGrid_Default .rgRow a.rgEditRow a,
.RadGrid_Default .rgRow a.rgHoveredRow a,
.RadGrid_Default .rgAltRow a.rgEditRow a,
.RadGrid_Default .rgAltRow a.rgHoveredRow a,
.RadGrid_Default .rgEditRow a.rgEditRow a,
.RadGrid_Default .rgEditRow a.rgHoveredRow a,
.RadGrid_Default .rgFooter a.rgEditRow a,
.RadGrid_Default .rgFooter a.rgHoveredRow a,
.RadGrid_Default .rgEditForm a tr.rgEditRow a,
.RadGrid_Default .rgEditForm a tr.rgHoveredRow a .RadGrid a {
    color: #333333 !important;
}

.RadGrid .rgInput, .RadGrid .rgEditRow > td > [type="text"], .RadGrid .rgEditForm td > [type="text"], .RadGrid .rgBatchContainer > [type="text"], .RadGrid .rgFilterBox, .RadGrid .rgFilterApply, .RadGrid .rgFilterCancel {
    border: thin solid #D9D9D9 !important;
    box-shadow: none;
    min-height:30px;
}

textarea {
    border: thin solid #D9D9D9!important;
}

input[type="checkbox"] + label span {
    display: inline-block !important;
    width: 19px !important;
    height: 19px !important;
    background: #000 !important;
}

.RadGrid_Default .rgCommandCell {
    color: #333 !important;
    background-color: #9BC2E6  !important;
    background-image: none !important;
}

    .RadGrid_Default .rgCommandCell .t-button:hover {
        border-color: #FFE8CB !important;
        color: #333 !important;
        background-color: transparent !important;
        background-image: none !important;
    }

.RadGrid_Default .rgEditRow {
    background: rgb(155, 194, 230) !important;
    color: #333 !important;
}

.RadGrid_Default {
    border: 1px solid #bbb !important;
    background-color: #9BC2E6  !important;
    color: #333 !important;
}

.RadGrid_Default .rgRow .rgSorted {
    background-color: #FFF !important;
    border-bottom-color: #FFF !important;
}

.RadGrid_Default .rgAltRow .rgSorted {
    border-bottom-color: #9BC2E6  !important;
    background-color: #9BC2E6  !important;
}

/*For Popup*/

.RadNotification_Default .rnTitleBar{
    border-color: #d1d1d1 !important;
color: #333 !important;
background-color: #9BC2E6  !important;
background-image:none !important;
font-weight:bold;
}

.RadNotification_Default .rnCommands a:hover{
    border-color: #FFF !important;
color: #000 !important;
background-color: #FFF !important;
background-image: none !important;
}

.alertbackground{
    background-color:#9BC2E6  !important;
    color:#333 !important;
    
} 
/*input Escalation Matrix*/

.form-control {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important; 
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.rddlPopup_Default .rddlItemSelected {
    color: #333 !important;
    background-color: #9BC2E6  !important;
}


.rddlPopup_Default .rddlItemHovered, .rddlPopup_Default .rddlItemLoading{
color: #333 !important;
    background-color: #9BC2E6  !important;
}

.RadDropDownList_Default .rddlFocused {
    border-color: #676767;
    color: #000 !important;
    background-color: #FFF !important;
    background-image:none !important;
}

.RadDropDownList_Default .rddlInner {
    border-color: #cdcdcd;
    color: #000 !important;
    background-color: #FFF !important;
    background-image:none !important;
    border-radius: 3px;
}

.RadInput_Default .riTextBox, html body .RadInputMgr_Default {
    border-color: #D9D9D9!important;
    background: #fff !important;
    color: #333;
    font: 12px "segoe ui",arial,sans-serif;
    min-height: 29px !important;
}

.RadDropDownList_Default {
    color: #333 !important;
    width: 100% !important;
}


RadButton_Default.rdButton.rbHovered, .RadButton_default.rbButton.rbToggled.rbHovered, .RadButton_Default.rbButton .rbHovered {
    background-color: #000 !important;
    background-image: none !important;
    color: #FFF !important;
}

.RadButton_Default.rbButton, .RadButton_Default .rbSplitPart {
    border-color: #cdcdcd;
    color: #FFF !important;
    background-color: #272727 !important;
    background-image:none !important;
}
.RadButton_Default .rbIcon {
    color: #FFF !important;
}

.RadWindow .rwTitleWrapper {
    
    background-color: #9BC2E6  !important;
    color: #333 !important;
} 
.RadWindow_Default .rwIcon, .RadWindow_Default .rwResize, .RadWindow_Default .rwCommandButton {
    color: #FFF !important;
}

.RadGrid_Default .rgRow a, .RadGrid_Default .rgAltRow a, .RadGrid_Default .rgFooter a, .RadGrid_Default .rgEditForm a, .RadGrid_Default .rgEditRow a, .RadGrid_Default .rgHoveredRow a {
    color: #0003FF !important;
    text-decoration: underline !important;
}
.rcCalPopup::before {
    content: "" !important;
}
.RadInput_Default a {
    content: "" !important;
}
.RadPicker .rcDisabled {
    opacity: .5;
    filter: alpha(opacity=50);
    background-image: url('../images/calendar-icon.png') !important;
    background-position: center !important;
}
.RadInput_Default a {
    background-image: url('../images/calendar-icon.png') !important;
    background-position: center !important;
    border-color: #cdcdcd !important;
color: #333 !important;
background-color: #e6e6e6 !important;

}

.RadWindow_Default .rwPromptDialog button.rwOkBtn, .RadWindow_Default .rwConfirmDialog button.rwOkBtn {
    color: white !important;
}

.RadGrid_Frozen 
 {
      overflow-x: scroll !important;
 }

[id$='Frozen'] {
  overflow:scroll !important;  
}

/*Import Button css*/

/*.RadUpload {
    width: 0px !important;
}

.RadUpload_Default .ruButton {
    min-height: 31px !important;
    background-image: url('suzlon_grid/images/upload.png'), linear-gradient(white,#e6e6e6) !important;
    background-size: 18px 20px, 87px 33px !important;
    background-repeat: no-repeat !important;
    width: 88px !important;
    padding-left: 24px !important;
    font-size: 14px !important;
    background-position: 6px 7px, 0px 0px !important;
    padding: 0px 0px 0px 26px !important;
    border-radius: 3px !important;
    border: 1px solid #cdcdcd !important;
}

.RadButton_Default.ruButton:hover {
    border-color: #aaa !important;
    color: #fff !important;
    background-color: #204d74 !important;
}

.RadButton_Default.ruButton:focus {
    box-shadow: inset 0 0 5px rgba(103,103,103,0.5);
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.RadUpload .ruFileWrap {
    height: 32px !important;
}

div.RadUpload .ruFakeInput {
    visibility: hidden;
    width: 0;
    padding: 0;
}

div.RadUpload .ruFileInput {
    width: 1;
}*/
