.RadComboBox_Default, .RadComboBox_Default .rcbInner {
    border-radius: 3px !important;
    border-color: #d9d9d9 !important;
    color: #333333 !important;
    background-color: #fff !important;
}
.RadComboBox_Office2010Silver .rcbActionButton {
    border-color: #8ba0bc;
    color: #3b3b3b;
    background-color: #dbdde1;
    background-image:none !important;
    border-radius: 0 3px 3px 0;
}

.RadComboBox_Office2010Silver .rcbInner{
    border-color: #d9d9d9 !important;
}
.RadComboBox_Office2010Silver .rcbHovered{
    border-color: #d9d9d9 !important;
}

.RadComboBox_Office2010Silver .rcbActionButton .rcbHovered{
    border-color: #d9d9d9 !important;
}

.RadComboBoxDropDown_Office2010Silver .rcbHovered{
    background-color: #FFF;
}

.RadComboBox_Office2010Silver .rcbFocused .rcbActionButton {
    border-color: #d9d9d9 !important;
    color: #000 !important;
    background-color: rgba(255, 255, 255, 1)!important;
    background-image: none !important;
}

.RadComboBox_Office2010Silver .rcbFocused{
    border-color: #d9d9d9 !important;
    background-color: #fff !important;
}

.RadComboBoxDropDown_Office2010Silver .rcbHovered{
    background-color: rgba(255, 255, 255, 1) !important;
}


        .RadComboBox_Default, .RadComboBox_Default .rcbActionButton {
            border-radius: 0 3px 3px 0 !important;
            border-color: #d9d9d9 !important;
            color: #333333 !important;
            background-color: #dbdde1 !important;
            background-image: none !important;
        }

            .RadComboBox_Default, .RadComboBox_Default .rcbHovered, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbLoading, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbLoading, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbItem em, .RadComboBoxDropDown_Default .rcbItem .RadComboBox_Default em {
                border-color: #d9d9d9 !important;
                color: #333333 !important;
                background-color: #fff !important;
            }

                .RadComboBox_Default, .RadComboBox_Default .rcbHovered .rcbActionButton, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbLoading .rcbActionButton, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbLoading .rcbActionButton, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbItem em .rcbActionButton, .RadComboBoxDropDown_Default .rcbItem .RadComboBox_Default em .rcbActionButton {
                    border-color: #d9d9d9 !important;
                    color: #000 !important;
                    background-color: #dbdde1 !important;
                    background-image: none !important;
                }

                    .RadComboBox_Default, .RadComboBox_Default .rcbFocused {
                        border-color: #d9d9d9 !important;
                        color: #333333 !important;
                        background-color: #FFF !important;
                    }

                        .RadComboBox_Default.RadComboBox_Default .rcbFocused .rcbActionButton {
                            border-color: #9BC2E6 !important;
                            color: #333 !important;
                            background-color: #FFF !important;
                            background-image: none !important;
                        }

                        .RadComboBox_Default, .RadComboBox_Default .rcbReadOnly {
                            border-color: #d9d9d9 !important;
                            color: #333333 !important;
                            background-color: #fff !important;
                            background-image: none !important;
                        }

                            .RadComboBox_Default, .RadComboBox_Default .rcbReadOnly.rcbHovered, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbReadOnly.rcbLoading, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbReadOnly.rcbLoading, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbItem em.rcbReadOnly, .RadComboBoxDropDown_Default .rcbItem .RadComboBox_Default em.rcbReadOnly {
                                border-color: #d9d9d9 !important;
                                color: #333333 !important;
                                background-color: #fff !important;
                                background-image: none !important;
                            }

                                .RadComboBox_Default, .RadComboBox_Default .rcbReadOnly.rcbFocused {
                                    border-color: #9BC2E6 !important;
                                    color: #333 !important;
                                    background-color: #FFF !important;
                                    background-image: none !important;
                                }

.RadComboBox_Default, .RadComboBox_suzlon_rtl .rcbActionButton {
    border-radius: 3px 0 0 3px !important;
}

.RadComboBox_Default, .RadComboBoxDropDown_suzlon {
    border-color: #828282 !important;
    color: #333333 !important;
    background-color: #FFF !important;
}

    .RadComboBox_Default, .RadComboBoxDropDown_suzlon .rcbHeader,
    .RadComboBox_Default, .RadComboBoxDropDown_suzlon .rcbFooter, .RadComboBoxDropDown_suzlon .rcbCheckAllItems, .RadComboBoxDropDown_suzlon .rcbMoreResults {
        border-color: #cc9a00 !important;
        color: #333333 !important;
        background-color: #ffc000 !important;
    }

    .RadComboBox_Default, .RadComboBoxDropDown_suzlon .rcbHovered, .RadComboBoxDropDown_suzlon .rcbLoading, .RadComboBoxDropDown_suzlon .rcbItem em {
        color: #333333 !important;
        background-color: #40a0a0 !important;
    }

    .RadComboBox_Default, .RadComboBoxDropDown_suzlon .rcbSelected {
        color: #ffffff !important;
        background-color: #ed7d31 !important;
    }

.RadComboBoxDropDown .rcbList {
    background-color: #FFF;
}

.RadComboBoxDropDown_Default .rcbHovered {
    color: #333 !important;
    background-color: #9BC2E6 !important;
}

RadComboBox_Default .rcbReadOnly .rcbHovered {
    color: #FFF !important;
}
