<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>    
    <!--<add name="SuzlonBPPEntities" connectionString="metadata=res://*/Models.SuzlonBPP.csdl|res://*/Models.SuzlonBPP.ssdl|res://*/Models.SuzlonBPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASPLVM266\SQLEXPRESS;initial catalog=SuzlonBPP;user id=sa;password=abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SuzlonBPPEntities" connectionString="metadata=res://*/Models.SuzlonBPP.csdl|res://*/Models.SuzlonBPP.ssdl|res://*/Models.SuzlonBPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASPL090\SQLEXPRESS;initial catalog=SuzlonBPP;user id=sa;password=abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=SUZPUNBPM3;Initial Catalog=SuzlonBPP;User ID=sa;Password=Suzlon123"/>
  </connectionStrings> 
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="Version" value="1.0.0.0"></add>
    <add key="TokenExipredTime" value="8" />
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <add key="FromAlias" value="SuzlonBPP" />
    <add key="SupportEmail" value="priyanka.gaikwad@ambitsoftware.com" />
    <add key="FromEmail" value="rohini.ghule@ambitsoftware.com" />
    <add key="AdminMailPassword" value="rohini@1234" />
    <add key="SMTPHOST" value="smtp.office365.com" />
    <add key="SMTPPORT" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="TraceLog" value="true" />
    <add key="TraceLogFilePath" value="E:\Priyanka\Client\Suzlon\Code\SuzlonBPP\SuzlonBPP\bin" />
    <add key="WebsiteUrl" value="http://localhost/SuzlonBPP/" />
    <add key="WebUrlForMail" value="http://localhost/SuzlonBPP/" />
    <add key="ApplicationName" value="Bank Payment Portal" />
    <add key="MobileAppUrlForMail" value="http://localhost/SuzlonBPP/" />
    <add key="DirectoryPath" value="LDAP://192.168.97.52"></add>
    <add key="DirectoryDomain" value="kerr.com"></add>
    <add key="SAPAppServerHost" value="172.16.10.52" />
    <add key="SAPClient" value="300" />
    <add key="SAPUsername" value="DOTNET" />
    <add key="SAPPassword" value="init1234" />
    <add key="SAPSystemNumber" value="00"/>
    <add key="IsRestrictToSAP" value="true" />
    <add key="SMTPUSERNAME" value="rohini.ghule@ambitsoftware.com" />
    <add key="NotificationFilePath" value="E:\Priyanka\Client\Suzlon\Code\SuzlonBPP\SuzlonBPP\Notification\NotificationTemplate.xml"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="60"></sessionState>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <!--<globalization uiCulture="en" culture="en-US"/>-->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-IN" culture="en-IN" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>